/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-regular.woff") format("woff");
}
  
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
          url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-700.woff2") format("woff2"),
          url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-700.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"), local("RobotoMono-Regular"),
         url("../fonts/roboto-mono-v7-latin-ext_cyrillic_vietnamese_latin-regular.woff2") format("woff2"),
         url("../fonts/roboto-mono-v7-latin-ext_cyrillic_vietnamese_latin-regular.woff") format("woff");
}


/* General rules */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 10px;
    background-color: #FAFAFA;
    font-size: 1.2rem;
    line-height: 140%;
}

section {
    margin: 50px 0 20px 0;
}

section h2 {
    color: rgb(0, 114, 178);
}

#main-title {
    color: rgb(0, 114, 178);
    font-size: 2.5rem;
    text-align: center;
}

#main-subtitle {
    display: block;
    margin: 10px 0 20px 0;
    font-size: 1.5rem;
    color: grey;
    text-align: center;
}