/* Fonts */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
        url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-regular.woff2") format("woff2"),
        url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-regular.woff") format("woff");
}
  
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"),
          url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-700.woff2") format("woff2"),
          url("../fonts/roboto-v20-latin-ext_cyrillic_vietnamese_latin-700.woff") format("woff");
}

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Mono"), local("RobotoMono-Regular"),
         url("../fonts/roboto-mono-v7-latin-ext_cyrillic_vietnamese_latin-regular.woff2") format("woff2"),
         url("../fonts/roboto-mono-v7-latin-ext_cyrillic_vietnamese_latin-regular.woff") format("woff");
}



:root {
    --column-width: 0px; /* Set in JavaScript */
    --row-number-column-width: 0px; /* Set in JavaScript */
    --min-column-width-px: 320; /* in px, used in JavaScript */
    --min-row-number-column-width-px: 30; /* in px, used in JavaScript */
}

html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

body.popup-displayed {
    overflow: hidden;
}



/* Tooltip */

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
}



/* Popup */

.popup {
    z-index: 1000;
    position: fixed;
    background-color: #FAFAFA;
    color: #000;
    box-shadow: 0 0 50px #555;
}

.popup.maximized {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 50px auto;
}

.popup-titlebar {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.popup-title {
    margin: 0;
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><path fill="black" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41z"/><path fill="none" d="M0,0h24v24H0V0z"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    color: transparent;
    overflow: hidden;
}

.popup-close-button:hover {
    background-color: #be393b;
}

.popup-content {
    padding: 10px;
    overflow: auto;
}

.background-mask  {
    position: absolute;
    z-index: 2999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}




/* Sankey diagram */

.sankey {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    padding: 20px;
    /* background-color: white; */
}

.sankey .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sankey svg {
    width: 100%;
    height: 100%;
}

.sankey svg path {
    border: none;
}

.sankey svg text {
    alignment-baseline: middle;
    text-anchor: middle;
    pointer-events: none;
}

.sankey svg .button text {
    font-size: 50px;
}




/* Word Cloud */

.word-cloud {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    padding: 20px;
    /* background-color: white; */
}

.word-cloud .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.word-cloud .word {
    margin: 2px;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
}


.word-cloud .top-10,
.word-cloud .top-50,
.word-cloud .others {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.word-cloud .others {
    margin: 0;
}

.word-cloud .top-10 .word {
    font-size: 2rem;
}

.word-cloud .top-50 .word {
    font-size: 1.5rem;
}

.popup .word-cloud .top-10::before,
.popup .word-cloud .top-50::before,
.popup .word-cloud .others::before {
    display: block;
    width: 100%;
    padding: 0 0 10px 0;
    color: #AAA;
    font-size: 1.2rem;  
}

.popup .word-cloud .top-10::before {
    content: "Ranks 1-10";
}

.popup .word-cloud .top-50::before {
    content: "Ranks 11-50";
}

.popup .word-cloud .others::before {
    content: "Others";
}


/* Data table */

.data-table {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;;
    /* min-width must be set in JavaScript */
    font-family: "Roboto", sans-serif;
}

.data-table .content {
    /* max-height: calc(100vh - 40px - 240px); */
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
}

.data-table .content .page {
    width: 100%;
}

.data-table .content .page,
.data-table .content .page th,
.data-table .content .page td {
    padding: 2px;
    border: none;
    border-collapse: collapse;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
}

.data-table .content .page td.data-cell {
    width: var(--column-width);
}

.data-table .content .page td.row-number-cell {
    width: var(--row-number-column-width);
}

.data-table .content .page tr:nth-child(2n) td {
    background-color: #FFFFFF;
}

.data-table .content .page tr:nth-child(2n+1) td {
    background-color: #EFEFEF;
}

.data-table .content .page tr:hover td {
    background-color: rgb(255, 227, 174);
}

.data-table .content .page tr td:hover {
    background-color: rgb(255, 220, 100);
}

/* Row number cell */
.data-table .content .page tr td:first-child,
.data-table .content .page tr:hover td:first-child {
    padding: 2px 10px 2px 0;
    color: #666;
    text-align: right;
}

.data-table .content .page td a,
.data-table .content .page td a:hover,
.data-table .content .page td a:active,
.data-table .content .page td a:visited {
    color: inherit;
    text-decoration: none;
}

.data-table .content .page td.url:hover {
    /* box-shadow: 0 -2px 0 0 #000 inset; */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>');
    background-size: 20px 20px;
    background-position: right center;
    background-repeat: no-repeat;
}

.data-table .page-browser {
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    padding: 5px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.data-table .page-browser .current-page-input,
.data-table .page-browser .total-page-number {
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    border: none;
    font-size: 1.4rem;
}

.data-table .page-browser .current-page-input {
    background-color: #EFEFEF;
    border-bottom: 2px solid #666;
}


.data-table .page-browser .current-page-input {
    min-width: 30px;
    max-width: 60px;
    text-align: center;
}

.data-table .page-browser .current-page-input:focus {
    background-color: rgb(255, 238, 208);
    border-bottom-color: #fe9929;
}

.data-table .page-browser .total-page-number {
    color: #666;
}

.data-table .page-browser .total-page-number::before {
    content: "/";
}

.data-table .page-browser .previous-page-button,
.data-table .page-browser .next-page-button {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    border: none;
    vertical-align: middle;
    transition: 500ms ease-out;
}

.data-table .page-browser:hover .previous-page-button,
.data-table .page-browser:hover .next-page-button {
    width: 25px;
    height: 40px;
}

.data-table .page-browser:hover .previous-page-button {
    margin: 0 5px 0 0;
}

.data-table .page-browser:hover .next-page-button {
    margin: 0 0 0 5px;
}

.data-table .page-browser .previous-page-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    
}

.data-table .page-browser .next-page-button {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.data-table .page-browser .previous-page-button:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="orange" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.data-table .page-browser .next-page-button:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="orange" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.data-table .page-browser .previous-page-button:disabled {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="grey" d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.data-table .page-browser .next-page-button:disabled {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path fill="grey" d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.data-table .dashboard-container {
    display: flex;
    position: relative;
    width: 100%;
    /* height: 240px; */
    background-color: #FAFAFA;
    color: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

.data-table .dashboard-container > * {
    width: var(--column-width);
    /* height: 240px; */
    border-right: 2px solid #CCC;
    vertical-align: top;
    /* overflow: hidden; */
    flex-grow: 1;
}

.data-table .dashboard-container > *:last-child {
    border-right: none;
}

.data-table .dashboard-container .controls {
    display: inline-block;
    width: var(--row-number-column-width);
    /* height: 240px; */
    border-right: none;
}


/* Dashboard */

.dashboard {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-areas:
    "column-name   column-name"
    "dist-chart    dist-chart"
    "top-countries top-domains"
    "word-cloud    word-cloud"
    "buttons       buttons";
    grid-template-rows: 60px 80px 140px auto 40px;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px 10px 10px;
}

.data-table .column-name {
    grid-area: column-name;
    display: block;
    height: 60px;
    margin: 10px 0 0 0;
    padding: 0;
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.dashboard h4 {
    display: block;
    margin: 0 0 10px 0;
    padding: 2px 0;
    background-color: #DDD;
    font-size: 0.9rem;
    text-align: center;
}

.dashboard .distribution-chart {
    grid-area: dist-chart;
    /* margin: 10px 0 0 0; */
}

.dashboard .distribution-chart .chart-container {
    display: flex;
    height: 40px;
}

.dashboard .distribution-chart .chart-container .chart {
    flex-grow: 1;
    padding: 4px 10px 0 10px;
}

.dashboard .distribution-chart .chart-container .chart-area {
    display: inline-block;
    height: 20px;
    padding: 10px 0 0 0;
}

.dashboard .distribution-chart .chart-container .chart-area.url-cells-area {
    background-color: rgb(0, 114, 178);
    /* border-bottom: 2px solid #0571b0; */
    /* box-shadow: 0 -2px #0571b0 inset; */
}

.dashboard .distribution-chart .chart-container .chart-area.text-cells-area {
    background-color: rgb(213, 94, 0);
    /* border-bottom: 2px solid #ca0020; */
    /* box-shadow: 0 -2px #ca0020 inset; */

}

.dashboard .distribution-chart .chart-container .chart-label .type {
    display: block;
    font-weight: bold;
}

.dashboard .distribution-chart .chart-container .chart-label .percent {
    display: block;
}

.dashboard .top-countries-list,
.dashboard .top-domains-list {
    font-size: 0.9rem;
}

.dashboard .top-countries-list {
    grid-area: top-countries;
    padding: 0 5px 0 0;
}

.dashboard .top-domains-list {
    grid-area: top-domains;
    padding: 0 0 0 5px;
}

/* .dashboard .top-list h4 {
    margin: 0 0 5px 0;
    padding: 2px 0;
    background-color: #DDD;
    text-align: center;
} */

.dashboard .top-list .list-entry {
    display: grid;
    gap: 2px;
    height: 20px;
    line-height: 20px;
}

.dashboard .top-countries-list .list-entry {
    grid-template-columns: 24px 70px 40px auto;
}

.dashboard .top-domains-list .list-entry {
    grid-template-columns: 94px 40px auto;
}

.dashboard .list-entry .flag {
    height: 20px;
}

.dashboard .list-entry .name {
    padding: 0 0 0 3px;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard .list-entry .percent {
    padding: 0 3px;
    text-align: right;
}

.dashboard .list-entry .bar {
    height: 10px;
    margin-top: 5px;
    background-color: #fe9929;
}

.dashboard .list-entry.aggregate {
    color: #666;
}

.dashboard .list-entry.aggregate .bar {
    background-color: #666;
}

.dashboard .display-buttons-area {
    grid-area: buttons;
}

.dashboard .display-buttons-area button {
    box-sizing: border-box;
    width: calc(50% - 5px);
    height: 40px;
    display: inline-block;
    background-color: #444;
    border: none;
    color: #FFF;
    font-size: 1rem;
    vertical-align: middle;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dashboard .display-buttons-area button:hover {
    background-color: #fe9929;
    color: #000;
}

.dashboard .display-buttons-area button:first-child {
    margin: 0 10px 0 0;
}

.dashboard .display-buttons-area .display-sankey-diagram::before,
.dashboard .display-buttons-area .display-word-cloud::before {
    position: relative;
    top: 5px;
    padding: 0 5px;
}

.dashboard .display-buttons-area .display-sankey-diagram::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="lightgrey" d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>');
}

.dashboard .display-buttons-area .display-word-cloud::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="lightgrey" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.dashboard .display-buttons-area .display-sankey-diagram:hover::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="black" d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/></svg>');
}

.dashboard .display-buttons-area .display-word-cloud:hover::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path fill="black" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.dashboard .word-cloud-preview {
    grid-area: word-cloud;
    margin: 0 0 20px 0;
    overflow: hidden;
}

.dashboard .word-cloud-preview .word-cloud {
    padding: 0;
    background-color: transparent;
}

.dashboard .word-cloud-preview .word-cloud .top-10 .word {
    font-size: 16px;
}

.dashboard .word-cloud-preview .word-cloud .top-50 .word {
    font-size: 12px;
}


/* URL Widget */

.url-widget {
    font-family: "Roboto", sans-serif;
}

.url-widget .protocol.http::after {
    content: "!";
    margin: 0 5px 0 0;
    padding: 5px;
    background-color: yellow;
    color: black;
}

.url-widget .protocol.https::after {
    content: "S";
    margin: 0 5px 0 0;
    padding: 5px;
    background-color: green;
    color: black;
}

.url-widget .country {
    margin: 0 5px 0 2px;
    vertical-align: middle;
    /*
    width: 50px;
    height: 30px;
    margin: 0 5px 0 0;
    padding: 5px;
    background-color: #AAA;
    color: black;
    */
}

.url-widget .subdomains {
    color: #AAA;
}

/*
.url-widget .subdomains::after {
    content: ".";
    margin: 0 2px;
    color: #AAA;
}
*/

.url-widget .domain {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

/*
.url-widget .domain::after {
    content: ".";
    margin: 0 2px;
    color: #AAA;
}
*/

.url-widget .tld {
    color: #AAA;
}

.url-widget .path .slash {
    margin: 0 4px;
    color: #f1a340;
    font-weight: bold;
}

.url-widget .path .underscore {
    opacity: 0.1;
}



/* Country flags sprites - image and CSS taken from https://github.com/flarik/css-sprite-flags */

.flag { 
    display: inline-block; 
    background-repeat: no-repeat;
    display: inline-block; 
    width: 24px;
    height: 24px;
    background-image: url("../img/flags.png"); 
    background-repeat: no-repeat;
}

.flag-abkhazia { background-position: -0px -0px; }
.flag-basque-country { background-position: -24px -0px; }
.flag-british-antarctic-territory { background-position: -48px -0px; }
.flag-commonwealth { background-position: -72px -0px; }
.flag-england { background-position: -96px -0px; }
.flag-gosquared { background-position: -120px -0px; }
.flag-kosovo { background-position: -144px -0px; }
.flag-mars { background-position: -168px -0px; }
.flag-nagorno-karabakh { background-position: -192px -0px; }
.flag-nato { background-position: -216px -0px; }
.flag-northern-cyprus { background-position: -240px -0px; }
.flag-olympics { background-position: -264px -0px; }
.flag-red-cross { background-position: -288px -0px; }
.flag-scotland { background-position: -312px -0px; }
.flag-somaliland { background-position: -336px -0px; }
.flag-south-ossetia { background-position: -360px -0px; }
.flag-united-nations { background-position: -384px -0px; }
.flag-unknown { background-position: -0px -24px; }
.flag-wales { background-position: -24px -24px; }
.flag-ad { background-position: -48px -24px; }
.flag-ae { background-position: -72px -24px; }
.flag-af { background-position: -96px -24px; }
.flag-ag { background-position: -120px -24px; }
.flag-ai { background-position: -144px -24px; }
.flag-al { background-position: -168px -24px; }
.flag-am { background-position: -192px -24px; }
.flag-an { background-position: -216px -24px; }
.flag-ao { background-position: -240px -24px; }
.flag-aq { background-position: -264px -24px; }
.flag-ar { background-position: -288px -24px; }
.flag-as { background-position: -312px -24px; }
.flag-at { background-position: -336px -24px; }
.flag-au { background-position: -360px -24px; }
.flag-aw { background-position: -384px -24px; }
.flag-ax { background-position: -0px -48px; }
.flag-az { background-position: -24px -48px; }
.flag-ba { background-position: -48px -48px; }
.flag-bb { background-position: -72px -48px; }
.flag-bd { background-position: -96px -48px; }
.flag-be { background-position: -120px -48px; }
.flag-bf { background-position: -144px -48px; }
.flag-bg { background-position: -168px -48px; }
.flag-bh { background-position: -192px -48px; }
.flag-bi { background-position: -216px -48px; }
.flag-bj { background-position: -240px -48px; }
.flag-bl { background-position: -264px -48px; }
.flag-bm { background-position: -288px -48px; }
.flag-bn { background-position: -312px -48px; }
.flag-bo { background-position: -336px -48px; }
.flag-br { background-position: -360px -48px; }
.flag-bs { background-position: -384px -48px; }
.flag-bt { background-position: -0px -72px; }
.flag-bw { background-position: -24px -72px; }
.flag-by { background-position: -48px -72px; }
.flag-bz { background-position: -72px -72px; }
.flag-ca { background-position: -96px -72px; }
.flag-cc { background-position: -120px -72px; }
.flag-cd { background-position: -144px -72px; }
.flag-cf { background-position: -168px -72px; }
.flag-cg { background-position: -192px -72px; }
.flag-ch { background-position: -216px -72px; }
.flag-ci { background-position: -240px -72px; }
.flag-ck { background-position: -264px -72px; }
.flag-cl { background-position: -288px -72px; }
.flag-cm { background-position: -312px -72px; }
.flag-cn { background-position: -336px -72px; }
.flag-co { background-position: -360px -72px; }
.flag-cr { background-position: -384px -72px; }
.flag-cu { background-position: -0px -96px; }
.flag-cv { background-position: -24px -96px; }
.flag-cw { background-position: -48px -96px; }
.flag-cx { background-position: -72px -96px; }
.flag-cy { background-position: -96px -96px; }
.flag-cz { background-position: -120px -96px; }
.flag-de { background-position: -144px -96px; }
.flag-dj { background-position: -168px -96px; }
.flag-dk { background-position: -192px -96px; }
.flag-dm { background-position: -216px -96px; }
.flag-do { background-position: -240px -96px; }
.flag-dz { background-position: -264px -96px; }
.flag-ec { background-position: -288px -96px; }
.flag-ee { background-position: -312px -96px; }
.flag-eg { background-position: -336px -96px; }
.flag-eh { background-position: -360px -96px; }
.flag-er { background-position: -384px -96px; }
.flag-es { background-position: -0px -120px; }
.flag-et { background-position: -24px -120px; }
.flag-eu { background-position: -48px -120px; }
.flag-fi { background-position: -72px -120px; }
.flag-fj { background-position: -96px -120px; }
.flag-fk { background-position: -120px -120px; }
.flag-fm { background-position: -144px -120px; }
.flag-fo { background-position: -168px -120px; }
.flag-fr { background-position: -192px -120px; }
.flag-ga { background-position: -216px -120px; }
.flag-gb { background-position: -240px -120px; }
.flag-gd { background-position: -264px -120px; }
.flag-ge { background-position: -288px -120px; }
.flag-gg { background-position: -312px -120px; }
.flag-gh { background-position: -336px -120px; }
.flag-gi { background-position: -360px -120px; }
.flag-gl { background-position: -384px -120px; }
.flag-gm { background-position: -0px -144px; }
.flag-gn { background-position: -24px -144px; }
.flag-gq { background-position: -48px -144px; }
.flag-gr { background-position: -72px -144px; }
.flag-gs { background-position: -96px -144px; }
.flag-gt { background-position: -120px -144px; }
.flag-gu { background-position: -144px -144px; }
.flag-gw { background-position: -168px -144px; }
.flag-gy { background-position: -192px -144px; }
.flag-hk { background-position: -216px -144px; }
.flag-hn { background-position: -240px -144px; }
.flag-hr { background-position: -264px -144px; }
.flag-ht { background-position: -288px -144px; }
.flag-hu { background-position: -312px -144px; }
.flag-ic { background-position: -336px -144px; }
.flag-id { background-position: -360px -144px; }
.flag-ie { background-position: -384px -144px; }
.flag-il { background-position: -0px -168px; }
.flag-im { background-position: -24px -168px; }
.flag-in { background-position: -48px -168px; }
.flag-iq { background-position: -72px -168px; }
.flag-ir { background-position: -96px -168px; }
.flag-is { background-position: -120px -168px; }
.flag-it { background-position: -144px -168px; }
.flag-je { background-position: -168px -168px; }
.flag-jm { background-position: -192px -168px; }
.flag-jo { background-position: -216px -168px; }
.flag-jp { background-position: -240px -168px; }
.flag-ke { background-position: -264px -168px; }
.flag-kg { background-position: -288px -168px; }
.flag-kh { background-position: -312px -168px; }
.flag-ki { background-position: -336px -168px; }
.flag-km { background-position: -360px -168px; }
.flag-kn { background-position: -384px -168px; }
.flag-kp { background-position: -0px -192px; }
.flag-kr { background-position: -24px -192px; }
.flag-kw { background-position: -48px -192px; }
.flag-ky { background-position: -72px -192px; }
.flag-kz { background-position: -96px -192px; }
.flag-la { background-position: -120px -192px; }
.flag-lb { background-position: -144px -192px; }
.flag-lc { background-position: -168px -192px; }
.flag-li { background-position: -192px -192px; }
.flag-lk { background-position: -216px -192px; }
.flag-lr { background-position: -240px -192px; }
.flag-ls { background-position: -264px -192px; }
.flag-lt { background-position: -288px -192px; }
.flag-lu { background-position: -312px -192px; }
.flag-lv { background-position: -336px -192px; }
.flag-ly { background-position: -360px -192px; }
.flag-ma { background-position: -384px -192px; }
.flag-mc { background-position: -0px -216px; }
.flag-md { background-position: -24px -216px; }
.flag-me { background-position: -48px -216px; }
.flag-mf { background-position: -72px -216px; }
.flag-mg { background-position: -96px -216px; }
.flag-mh { background-position: -120px -216px; }
.flag-mk { background-position: -144px -216px; }
.flag-ml { background-position: -168px -216px; }
.flag-mm { background-position: -192px -216px; }
.flag-mn { background-position: -216px -216px; }
.flag-mo { background-position: -240px -216px; }
.flag-mp { background-position: -264px -216px; }
.flag-mq { background-position: -288px -216px; }
.flag-mr { background-position: -312px -216px; }
.flag-ms { background-position: -336px -216px; }
.flag-mt { background-position: -360px -216px; }
.flag-mu { background-position: -384px -216px; }
.flag-mv { background-position: -0px -240px; }
.flag-mw { background-position: -24px -240px; }
.flag-mx { background-position: -48px -240px; }
.flag-my { background-position: -72px -240px; }
.flag-mz { background-position: -96px -240px; }
.flag-na { background-position: -120px -240px; }
.flag-nc { background-position: -144px -240px; }
.flag-ne { background-position: -168px -240px; }
.flag-nf { background-position: -192px -240px; }
.flag-ng { background-position: -216px -240px; }
.flag-ni { background-position: -240px -240px; }
.flag-nl { background-position: -264px -240px; }
.flag-no { background-position: -288px -240px; }
.flag-np { background-position: -312px -240px; }
.flag-nr { background-position: -336px -240px; }
.flag-nu { background-position: -360px -240px; }
.flag-nz { background-position: -384px -240px; }
.flag-om { background-position: -0px -264px; }
.flag-pa { background-position: -24px -264px; }
.flag-pe { background-position: -48px -264px; }
.flag-pf { background-position: -72px -264px; }
.flag-pg { background-position: -96px -264px; }
.flag-ph { background-position: -120px -264px; }
.flag-pirate-black { background-position: -144px -264px; }
.flag-pirate-white { background-position: -168px -264px; }
.flag-pk { background-position: -192px -264px; }
.flag-pl { background-position: -216px -264px; }
.flag-pn { background-position: -240px -264px; }
.flag-pr { background-position: -264px -264px; }
.flag-ps { background-position: -288px -264px; }
.flag-pt { background-position: -312px -264px; }
.flag-pw { background-position: -336px -264px; }
.flag-py { background-position: -360px -264px; }
.flag-qa { background-position: -384px -264px; }
.flag-ro { background-position: -0px -288px; }
.flag-rs { background-position: -24px -288px; }
.flag-ru { background-position: -48px -288px; }
.flag-rw { background-position: -72px -288px; }
.flag-sa { background-position: -96px -288px; }
.flag-sb { background-position: -120px -288px; }
.flag-sc { background-position: -144px -288px; }
.flag-sd { background-position: -168px -288px; }
.flag-se { background-position: -192px -288px; }
.flag-sg { background-position: -216px -288px; }
.flag-sh { background-position: -240px -288px; }
.flag-si { background-position: -264px -288px; }
.flag-sk { background-position: -288px -288px; }
.flag-sl { background-position: -312px -288px; }
.flag-sm { background-position: -336px -288px; }
.flag-sn { background-position: -360px -288px; }
.flag-so { background-position: -384px -288px; }
.flag-sr { background-position: -0px -312px; }
.flag-ss { background-position: -24px -312px; }
.flag-st { background-position: -48px -312px; }
.flag-sv { background-position: -72px -312px; }
.flag-sy { background-position: -96px -312px; }
.flag-sz { background-position: -120px -312px; }
.flag-tc { background-position: -144px -312px; }
.flag-td { background-position: -168px -312px; }
.flag-tf { background-position: -192px -312px; }
.flag-tg { background-position: -216px -312px; }
.flag-th { background-position: -240px -312px; }
.flag-tj { background-position: -264px -312px; }
.flag-tk { background-position: -288px -312px; }
.flag-tl { background-position: -312px -312px; }
.flag-tm { background-position: -336px -312px; }
.flag-tn { background-position: -360px -312px; }
.flag-to { background-position: -384px -312px; }
.flag-tr { background-position: -0px -336px; }
.flag-tt { background-position: -24px -336px; }
.flag-tv { background-position: -48px -336px; }
.flag-tw { background-position: -72px -336px; }
.flag-tz { background-position: -96px -336px; }
.flag-ua { background-position: -120px -336px; }
.flag-ug { background-position: -144px -336px; }
.flag-us { background-position: -168px -336px; }
.flag-uy { background-position: -192px -336px; }
.flag-uz { background-position: -216px -336px; }
.flag-va { background-position: -240px -336px; }
.flag-vc { background-position: -264px -336px; }
.flag-ve { background-position: -288px -336px; }
.flag-vg { background-position: -312px -336px; }
.flag-vi { background-position: -336px -336px; }
.flag-vn { background-position: -360px -336px; }
.flag-vu { background-position: -384px -336px; }
